body, input, select, label, span{
    font-family:verdana, helvetica;
    font-size:1em;
}

input[type="text"], select, label, span{
    font-size:0.70em;
}

label{
    width:60px;
    display:inline-block;
}

div#employeeWrapper{
    background:#83AF9B;
    padding:8px;
    width:600px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 8px rgba(64, 50, 50, 0.45);
    -moz-box-shadow:1px 2px 8px rgba(64, 50, 50, 0.45);
    box-shadow:1px 2px 8px rgba(64, 50, 50, 0.45);
    border:2px solid #C8C8A9;
}

#button{
    margin:10px 0 0 70px;   
}

#NewPositionForm{
    background:blue;
}
